body{
    background-color: #000f2b;
}

section{
    width: 96%;
    padding: 2%;
}

img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2/1;
}

a{
    text-decoration: none;
    color: lightskyblue
}

iframe{
    aspect-ratio: 2/1;
}
/* Font Clases */

.notoSans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.hugeText{
    font-size: 6rem;
    font-weight: 800;
}

.bigText{
    font-size: 4rem;
}

/* Color Clases */

.whiteBG{
    background-color: #ffffff;
}

.darkOrange{
    color: #5E5EAA;
}

.strongOrange{
    color: #0000F2;
}



/* Container Clases */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr
}



/* Align Clases */
.centerText {
    text-align: center;
}

.flexCenter{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    width: 90%;
    padding-left: 5%;
}

.gridCenter{
    margin: auto;
}



/* Responsivenes */

@media  (max-width: 1400px ) {
    .hugeText{
        font-size: 3rem;
        font-weight: 800;
    }

    .bigText{
        font-size: 2rem;
    }

    a{
        font-size: 0.7rem;
    }
}

@media (max-width: 730px) {
    .hugeText{
        font-size: 1.5rem;
        font-weight: 800;
    }

    .bigText{
        font-size: 1rem;
    }
}
